<header>
  <wired-combo selected=<%= request.path[1..-1] %>>
    <wired-item value="artists">Artists</wired-item>
    <wired-item value="tracks">Tracks</wired-item>
    <wired-item value="genres">Genres</wired-item>
  </wired-combo>
  <menu>
    <% if @uses_mocked_data %>
      <a href="<%= ApplicationHelper.spotify_auth_url %>">Sign in with Spotify</a>
    <% else %>
      <a href="<%= request.path %>?mocked=true">Use sample data</a>
    <% end %>
  </menu>
</header>
<script>
  document.querySelector('wired-combo').addEventListener('selected', ({ target }) => {
    const usesMockedData = <%= raw @uses_mocked_data %>;
    const nexPath = `/${target.value.value}${usesMockedData ? '?mocked=true' : ''}`;
    Turbolinks.visit(nexPath);
  })
</script>
