<% if @uses_mocked_data %>
  <h1>My Top Genres</h1>
<% else %>
  <h1>Your Top Genres</h1>
<% end %>
<%= render 'header' %>
<ol style="margin-top: 48px">
  <% @genres.except("other").to_a.take(3).each do |genre, percentage| %>
    <li><%= genre %>: <%= percentage %>%</li>
  <% end %>
</ol>
<div id="chart"></div>
<script>
  const genres = <%= raw @genres.to_json %>;
  
  new roughViz.Donut(
    {
      element: '#chart',
      colors: [
        "lightslategrey",
        "lightblue",
        "lightgoldenrodyellow",
        "lightsteelblue",
        "lightcoral",
        "lightgreen",
        "lightskyblue",
        "lightpink",
        "lightsalmon",
        "lightseagreen",
        "lightgrey",
      ],
      data: {
        labels: Object.keys(genres),
        values: Object.values(genres)
      },
      font: "Gloria Hallelujah",
      width: window.innerWidth / 2,
      legend: !!(window.innerWidth > 1024),
      roughness: 3,
      strokeWidth: 2,
      fillStyle: 'zigzag',
      fillWeight: 2,
    }
  );
</script>
