/*
 *= require_tree .
 *= require_self
*/

@import 'font_definitions';
@import 'variables';

* {
  box-sizing: border-box;
}

body {
  margin: 8px auto 64px;
  background: $white;
  max-width: 1400px;
  color: $black;
  font-family: 'Gloria Hallelujah', Helvetica;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 22px;
}

a,
a:visited {
  text-decoration: none;
  color: $black;
}

wired-link {
  --wired-link-decoration-color: invisible;
}

.content {
  margin: 0 32px;
}

.wired-link-no-underline {
  text-decoration: none;
}
