@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  // scss-lint:disable UrlFormat
  src: url('Gloria Hallelujah 400') format('woff2');
  // scss-lint:enable UrlFormat
}
